<br>
<div class="tekstike2b">
<div class="tekstike">
Ülesanded on nüüd valmis
<div class="infoasukoht">
  <div class="korrigeerimine">
    <!--alainfo7-component></alainfo7-component-->
  </div>
</div>
<br><br>

<div class="tekstike2b">
  <div class="tekstike2">
  Nüüd on oluline jälgida, et töö oleks ikka Fork'itud ja salvestatud. Informaatikas käivad asjad sageli niipidi, et kui ei salvesta oma tööd, siis hiljem selle juurde tagasi tulles ei pruugi seda enam olemas olla ja tuleb otsast alata. See omakorda on aga tüütu ja võimalik, et frustratsiooni tekitav.
  
</div>
</div>
<!--alagraafik1></alagraafik1-->